.Panel_favoritos {
    float: left;
    /*display: inline-block;*/
    background: #e125e7;
    min-height: 90px;
    height: 90px;
    width: 200px;
    box-shadow: 2px 3px 4px 2px #C9C9C9;
    -webkit-box-shadow:2px 3px 4px 2px #C9C9C9;
    -moz-box-shadow:2px 3px 4px 2px #C9C9C9;
    margin: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.Txt_usuario{
    color: white;
    padding-top: 5px;
    padding-bottom: 10px;
}

.Txt_fav{
    color: yellow;
    padding-bottom: 5px;
    padding-top: 8px;
    text-align: center;
    font-size: 1em;
    overflow-y: scroll;
    height: 60px;
}

li
{
   display:block;
   /*float:left;
   width:300px; 
   heigh:150px;
   padding: 5px;*/ 
}