.Tarjeta_panel {
    float: left;
    /*display: inline-block;*/
    background: #49ecec;
    min-height: 100px;
    height: 200px;
    width: 300px;
    box-shadow:0px 0px 5px 5px #C9C9C9;
    -webkit-box-shadow:2px 2px 5px 5x #C9C9C9;
    -moz-box-shadow:2px 2px 5px 5px #C9C9C9;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.Repo_name{
    text-align: right;
    color: white;
    font-size: 1.5em;
    font-family: 'Futura';
    overflow-x: scroll;

}

.Repo_desc{
    text-align: left;
    font-size: 0.8em;
    font-family: 'Futura';
    overflow-y: scroll;
    height: 80px;
}

.Repo_estrella{
    text-align: left;
    font-size: 0.8em;
    font-family: 'Futura';
    padding-top: 10px;
}

.btnFav{
    height: 35px;
    width: 35px;
    padding-left: 113px;
}

hr {
    border:none;
    height: 20px;
       width: 100%;
      height: 50px;
      margin-top: 0;
      border-bottom: 2px solid white;
      box-shadow: 0 20px 20px -20px #333;
    margin: -50px auto 10px; 
}

.Btnbar {
    width: 100%;
}

.Btnlink {
    vertical-align: middle;
    width: 45%;
    float: left;
}

.BtnLink {
    position: relative;
    display: block;
    margin: 10px auto;
    padding: 10px;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    background-color: black;
    color: blue;
    transition: background-color .3s;
    text-decoration: none;
    font-weight: bold;
  }

.Btnestrella {
    vertical-align: middle;
    width: 50%;
    float: right;
}
